.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background-color: white;
  color: #2e2e2e;
}

.content {
  flex: 1;
  text-align: center;
}

.Header {
  font-family: 'BebasNue';
  font-size: 9em;
  letter-spacing: 1vmin;
}

.SubHeader {
  font-family: 'CardoRegular';
  font-size: 3em;
}

.App-body {
  font-size: 4em;
}

.footer-item {
  color: #2e2e2e;
  margin: 0.5em;
  transition: all 0.1s linear;
}

.footer-item:hover {
  color: black;
  transform: scale(1.1);
  transform-origin: center;
}

.App-footer a{
  color: black;
}