/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/

[data-elm-hot="true"] {
  height: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Cardo&family=Roboto+Mono:ital@0;1&display=swap');

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  text-align: center;
  color: #eeeeee;
  background-color: #393e46;
}

.title {
  font-size: 5rem;
  margin: 1rem;
}

.titleBlink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#container {
  display: flex;
  height: inherit;
}

#leftMenu {
  width: 56px;
  background-color: #222831;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: fixed;
}

#leftMenu>#upperMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 3;
}

#leftMenu>#lowerMenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 2;
  margin-bottom: 32px;
}

.item {
  display: flex;
  width: 48px;
  height: 48px;
  transition: all 0.1s linear;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #00adb5;
}

.item:hover {
  cursor: pointer;
  filter: brightness(50%);
  transform: scale(1.05);
  transform-origin: center;
}

#containerBody {
  text-align: left;
  padding: 3rem;
  margin-left: 64px;
  width: 100%;
}

#contentBody {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contentWrapper {
  max-width : 1024px;
  margin-top: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #00adb5;
}

pre {
  white-space: pre-wrap;
  word-break: keep-all;
  font-family: 'Roboto Mono';
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

@media only screen and (max-width: 1024px) {
  .title {
    font-size: 2.5rem;
  }
}


@media only screen and (max-width: 640px) {
  .title {
    font-size: 1.5rem;
  }
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid;
}

blockquote {
  background: #222831;
  border-left: 8px solid #00adb5;
  font-family: 'Roboto Mono';
  font-style: italic;
  display: block;
  font-size: 1.05rem;
  padding: 1.333rem;
  quotes: "“" "”" "“" "”";
}

blockquote:before {
  content: open-quote;
  font-size: 5rem;
  top: 1rem;
  line-height: 1.5rem;
  vertical-align: -1.5rem;
  color: #00adb5;
}

@media only screen and (max-width: 640px) {
  blockquote:before {
    font-size: 2rem;
    line-height: 2rem;
    vertical-align: 0;
  }

  blockquote {
    border-left: 4px solid #00adb5;
    font-size: 1rem;
    padding: 0.5rem;
  }
}

blockquote p {
  display: inline;
}

blockquote h6 {
  margin: 0.5rem 0rem 0rem 0rem;
	text-align: right;
	padding-right: 1rem;
}

blockquote h6:before {
  content: "- ";
}

.markdownContent a {
  color: #00adb5;
}

a {
  color: inherit;
}

.markdownContent pre {
  background-color: #222831;
  padding: 1rem;
}

.fadein {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.25s linear;
}

.fadeout {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.125s, opacity 0.125s linear;
}